/*comentarios css*/
h1 {
    color:cornflowerblue;
    font-size: 50px;
}
/*1 forma, estilo por etiqueta, todas las etiquetas
se ven afectadas */
p {
    color: red;
}

/*2 forma, estilo por clase (.), solo alguna etiquetas*/
.pcolor{
    color: blue; /*!important;*/
}

/*3 forma, estilo por id (#), estilo propio de una sola etiqueta
*/
#p4 {
    color: green;
}
#p5 {
    color:pink;
}